<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bambu Wulung</title>
    
    <!-- core CSS -->
    <link href="<?php echo base_url(); ?>themesFront/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>themesFront/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>themesFront/css/prettyPhoto.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>themesFront/css/animate.min.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>themesFront/css/main.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>themesFront/css/responsive.css" rel="stylesheet">

    
    <!--[if lt IE 9]>
    <script src="<?php echo base_url(); ?>themesFront/js/html5shiv.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/respond.min.js"></script>
    <![endif]-->       
   <!--  <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo base_url(); ?>themesFront/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo base_url(); ?>themesFront/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo base_url(); ?>themesFront/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<?php echo base_url(); ?>themesFront/images/ico/apple-touch-icon-57-precomposed.png"> -->
</head>

<body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.8&appId=467071933415189";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


  <div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h2>About Us</h2>
            <p><?php echo $about->value;?></p>
        </div>
        <div class="col-md-4  col-md-offset-2">
           <img src="<?php echo base_url(); ?>themesFront/images/master/logo.gif" class="img-responsive logo-bambu" alt="" align="center"> 
        </div>
    </div>
  </div>

  <div class="top-bar">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-8 col-xs-4">
                    <div class="row ">
                        <?php $jcontact = json_decode($contact);?>
                        <div class="col-md-4 top-number">
                            <i class="fa fa-2x fa-phone-square fa-blue"></i>
                            <span>Call Us<br><?php echo $jcontact->telp; ?></span>
                        </div>
                        <div class="col-md-4 top-number">
                            <i class="fa fa-2x fa-map-marker fa-blue"></i>
                            <span ><?php echo $jcontact->almt; ?> </span>
                        </div>
                        <div class="col-md-4 top-number">
                            <i class="fa fa-2x fa-envelope fa-blue"></i>
                            <span>Drop Us<br><?php echo $jcontact->email; ?></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-4">
                  <div class="search">
                      <form role="form">
                              <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                      </form>
                  </div><!--/.search-->
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    {content}

    <div id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="grey-blue">
            <div class="row ">
                <div class="col-md-3 col-sm-6">
                    <div >
                        <h3>Bambu Wulung</h3>
                        <div class="hr-white"></div>
                        <ul>
                            <li><a href="#"><?php echo $about_short->value;?></a></li>
                        </ul>

                        <div class="social-footer">
                            <ul class="social-share">
                                <?php foreach ($social_media as $sm){?>
                                <li>
                                  <a href="<?php echo $sm->link;?>" target="_blank">
                                    <i class="fa fa-<?php echo $sm->nama;?>"></i>
                                  </a>
                                </li>
                                <?php } ?>
                            </ul>
                       </div>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div >
                        <h3>SITE LINKS</h3>
                        <div class="hr-white"></div>
                        <ul>
                            <li><a href="<?php echo site_url('welcome'); ?>">Home</a></li>
                            <li><a href="<?php echo site_url('projects/projects_show/1'); ?>">Protfolio</a></li>
                            <li><a href="<?php echo site_url('news/news_detail/4'); ?>">News</a></li>
                            <li><a href="<?php echo site_url('about'); ?>">About Us</a></li>
                            <li><a href="<?php echo site_url('contact'); ?>">Contact Us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div >
                        <h3>TWEETS</h3>
                        <div class="hr-white"></div>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-5 col-sm-6">
                           
                    <div >
                        <h3>INSTAGRAM FEED</h3>
                        <div class="hr-white"></div>
                        <ul class="sidebar-gallery">

                        <script type="text/javascript">
                            var feed = new Instafeed({
                                get: 'tagged',
                                tagName: '',
                                clientId: '38a3905254d84a0191cccabc4e50aa78'
                            });
                            feed.run();
                        </script>
                              
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery1.png" alt="" /></a></li>
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery2.png" alt="" /></a></li>
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery3.png" alt="" /></a></li>
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery4.png" alt="" /></a></li>
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery5.png" alt="" /></a></li>
                            <li><a href="#"><img src="<?php echo base_url(); ?>themesFront/images/blog/gallery6.png" alt="" /></a></li>
                        </ul>
                    </div><!--/.blog_gallery-->
  
                </div><!--/.col-md-3-->
            </div>
            </div>
        </div>
    </div><!--/#bottom-->

   

    <script src="<?php echo base_url(); ?>themesFront/js/jquery.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/bootstrap.min.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/jquery.prettyPhoto.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/jquery.isotope.min.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/main.js"></script>
    <script src="<?php echo base_url(); ?>themesFront/js/wow.min.js"></script>
    <script type="text/javascript" src="<?php echo base_url(); ?>themesFront/js/instafeed.min.js"></script>
</body>
</html>